#album-cover-art {
  border: 1px solid #ccc;
  border-radius: ;
  box-shadow: 10px 10px 5px grey;
  hover: ;
  margin: 5px;
  width: 180px;
}

#album-details {
}

#playerbar {
  /* background-color:  rgba(76, 175, 80, 0.3); */
  background-color: none;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
}

#song-list {
  margin: auto;
  width: 50%;
  padding: 10px;
}

tr,
td {
  border-bottom: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
