body {
}

.hero-title {
  font-size: 10vw;
  font-variant: small-caps;
}

.point-description {
  font-family: "Ubuntu", sans-serif;
}

.point-title {
  font-variant: small-caps;
}

/* using section in attempt to style the whole page but it's obv breaking the gradient into sections */
body {
  color: black;
  text-align: center;
  background-image: linear-gradient(white, lightgray);
  font-family: "Ubuntu", sans-serif;
}
