.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav a {
  position: absolute;
  left: -50px;
  transition: 0.3s;
  padding: 20px;
  width: 70px;
  font-size: 20px;
  color: black;
  border-radius: 0 5px 5px 0;
}

nav a:hover {
  left: 0;
}

#landing {
  text-decoration: none;
  top: 20px;
  background-color: rgb(168, 168, 218);
}

#library {
  text-decoration: none;
  top: 120px;
  background-color: rgb(168, 168, 218);
}
